.movie-container 
{
  padding: 20px;
  text-align: center;
  background-color: #111;
  color: white;
  min-height: 100vh;
}

.movie-grid 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-card 
{
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.movie-card:hover 
{
  transform: scale(1.05);
}

.movie-card img 
{
  width: 100%;
  border-radius: 10px;
}

.movie-card h3 
{
  margin-top: 10px;
  font-size: 1rem;
}
